* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
}
nav a {
  text-decoration: none;
  color: aliceblue;
}

.hero {
  width: 100%;
  height: 656px;
  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.hero:after {
  background: linear-gradient(to bottom, rgba(36, 52, 7, 0) 0%, rgb(36, 52, 7) 100%);
  height: 40%;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
}

.heroWords {
  font-size: 70px;
  height: 10px;
  width: 500px;
  position: absolute;
  margin-left: 500px;
  margin-top: 200px;
  color: white;
  text-align: center;
}

.click {
  width: 200px;
  height: 40px;
  border-color: white;
  position: absolute;
  text-decoration: none;
  border-style: solid;
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 370px;
  margin-left: 650px;
}

.section {
  width: 100%;
  height: 723px;
  background-color: #243407;
  position: absolute;
  margin-top: 656px;
}

.section:after {
  background: linear-gradient(to bottom, rgba(27, 36, 11, 0) 0%, rgb(27, 36, 11) 100%);
  height: 20%;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 513px;
  position: absolute;
}

.section2:after {
  background: linear-gradient(to bottom, rgba(15, 23, 2, 0) 0%, rgb(15, 23, 2) 100%);
  height: 20%;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 640px;
  position: absolute;
}

.section2 {
  width: 100%;
  height: 803px;
  background-color: #1b240b;
  position: absolute;
  margin-top: 1312px;
}

.pop {
  font-size: 60px;
  color: white;
  text-align: center;
  margin-top: 30px;
}

.img {
  width: 400px;
  height: 450px;
  background-image: url(../images/plant1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
  margin-top: 40px;
  margin-left: 80px;
  border-radius: 5%;
}

.img2 {
  width: 400px;
  height: 450px;
  background-image: url(../images/plant2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
  margin-top: 40px;
  margin-left: 70px;
  border-radius: 5%;
}

.img3 {
  width: 400px;
  height: 450px;
  background-image: url(../images/plant3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 40px;
  margin-left: 1017px;
  border-radius: 5%;
}

.pea {
  float: left;
  font-size: 30px;
  color: white;
  margin-left: 170px;
  margin-top: 20px;
}

.palm {
  float: left;
  font-size: 30px;
  color: white;
  margin-left: 260px;
  margin-top: 20px;
}

.lotus {
  float: left;
  font-size: 30px;
  color: white;
  margin-left: 275px;
  margin-top: 20px;
}

.gift {
  width: 550px;
  height: 650px;
  background-image: url(../images/giftCard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5%;
  margin-top: 70px;
  margin-left: 90px;
  position: absolute;
}

.giftWord {
  font-size: 100px;
  height: 50px;
  width: 260px;
  color: white;
  position: absolute;
  margin-left: 235px;
  margin-top: 250px;
  text-align: center;
}

.giftTitle {
  color: white;
  font-size: 60px;
  margin-left: 700px;
  margin-top: 150px;
  width: 700px;
  text-align: center;
}

.giftP {
  color: white;
  text-align: center;
  width: 400px;
  margin-left: 870px;
  font-size: 30px;
  margin-top: 40px;
}

.button {
  width: 200px;
  height: 30px;
  border-color: white;
  position: absolute;
  text-decoration: none;
  border-style: solid;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-left: 965px;
  margin-top: 30px;
}

.foot {
  width: 100%;
  height: 80px;
  background-color: #0f1702;
  position: absolute;
  margin-top: 2112px;
}

.name {
  color: white;
  position: absolute;
  width: 60px;
  text-align: center;
  font-size: 25px;
  margin-left: 40px;
  margin-bottom: 200px;
}

.home2 {
  color: white;
  font-size: 20px;
  margin-left: 1310px;
  position: absolute;
}

.about2 {
  color: white;
  font-size: 20px;
  margin-left: 1400px;
  position: absolute;
}

.products2 {
  color: white;
  font-size: 20px;
  margin-left: 1300px;
  position: absolute;
  margin-top: 10px;
}

.contact2 {
  color: white;
  font-size: 20px;
  margin-left: 1400px;
  position: absolute;
  margin-top: 10px;
}

.aHero {
  width: 100%;
  height: 656px;
  background-image: url(../images/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.aHero:after {
  background: linear-gradient(to bottom, rgba(39, 43, 31, 0) 0%, rgb(39, 43, 31) 100%);
  height: 40%;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
}

.sec {
  width: 100%;
  height: 2250px;
  background-color: #272b1f;
}

.sec:after {
  background: linear-gradient(to bottom, rgba(15, 23, 2, 0) 0%, rgb(15, 23, 2) 100%);
  height: 20%;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 2820px;
  position: absolute;
}

.lorem {
  color: white;
  font-size: 40px;
  margin-top: 655px;
  width: 900px;
  text-align: center;
  margin-left: 330px;
  padding-top: 100px;
}

.suc {
  width: 900px;
  height: 1000px;
  background-image: url(../images/suc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-left: 330px;
  margin-top: 80px;
}

.sucText {
  color: white;
  margin-top: 1100px;
  margin-left: 330px;
  font-size: 15px;
}

.lorem2 {
  color: white;
  font-size: 25px;
  width: 500px;
  margin-top: 100px;
  text-align: center;
  margin-left: 530px;
}

.foots {
  width: 100%;
  height: 70px;
  background-color: #0f1702;
  position: absolute;
}

.pHero {
  width: 100%;
  height: 656px;
  background-image: url(../images/shop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.pHero:after {
  background: linear-gradient(to bottom, rgba(26, 33, 32, 0) 0%, rgb(26, 33, 32) 100%);
  height: 20%;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 525px;
  position: absolute;
}

.space {
  width: 100%;
  height: 1700px;
  background-color: #1a2120;
}

.img11 {
  width: 270px;
  height: 300px;
  background-image: url(../images/plant1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-top: 700px;
  background-position: center;
  border-radius: 5%;
  float: left;
  margin-left: 90px;
}

.img22 {
  width: 270px;
  height: 300px;
  background-image: url(../images/plant2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-top: 700px;
  background-position: center;
  border-radius: 5%;
  float: left;
  margin-left: 440px;
}

.img33 {
  width: 270px;
  height: 300px;
  background-image: url(../images/plant3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-top: 700px;
  background-position: center;
  border-radius: 5%;
  float: left;
  margin-left: 790px;
}

.img4 {
  width: 270px;
  height: 300px;
  background-image: url(../images/plant4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-top: 700px;
  background-position: center;
  border-radius: 5%;
  float: left;
  margin-left: 1140px;
}

.img5 {
  width: 270px;
  height: 300px;
  background-image: url(../images/plant5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-top: 1200px;
  background-position: center;
  border-radius: 5%;
  float: left;
  margin-left: 90px;
}

.img6 {
  width: 270px;
  height: 300px;
  background-image: url(../images/plant6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-top: 1200px;
  background-position: center;
  border-radius: 5%;
  float: left;
  margin-left: 440px;
}

.img7 {
  width: 270px;
  height: 300px;
  background-image: url(../images/plant7.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-top: 1200px;
  background-position: center;
  border-radius: 5%;
  float: left;
  margin-left: 790px;
}

.img8 {
  width: 270px;
  height: 300px;
  background-image: url(../images/plant8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-top: 1200px;
  background-position: center;
  border-radius: 5%;
  float: left;
  margin-left: 1140px;
}

.text1 {
  color: white;
  margin-top: 1020px;
  position: absolute;
  font-size: 25px;
  text-align: center;
  margin-left: 125px;
}

.text2 {
  color: white;
  margin-top: 1020px;
  position: absolute;
  font-size: 25px;
  text-align: center;
  margin-left: 495px;
}

.text3 {
  color: white;
  margin-top: 1020px;
  position: absolute;
  font-size: 25px;
  text-align: center;
  margin-left: 845px;
}

.text4 {
  color: white;
  margin-top: 1020px;
  position: absolute;
  font-size: 25px;
  text-align: center;
  margin-left: 1215px;
}

.text5 {
  color: white;
  margin-top: 1520px;
  position: absolute;
  font-size: 25px;
  text-align: center;
  margin-left: 165px;
}

.text6 {
  color: white;
  margin-top: 1520px;
  position: absolute;
  font-size: 25px;
  text-align: center;
  margin-left: 555px;
}

.text7 {
  color: white;
  margin-top: 1520px;
  position: absolute;
  font-size: 25px;
  text-align: center;
  margin-left: 815px;
}

.text8 {
  color: white;
  margin-top: 1520px;
  position: absolute;
  font-size: 25px;
  text-align: center;
  margin-left: 1230px;
}

.space:after {
  background: linear-gradient(to bottom, rgba(15, 23, 2, 0) 0%, rgb(15, 23, 2) 100%);
  height: 20%;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 1620px;
  position: absolute;
}

.cHero {
  width: 100%;
  height: 656px;
  background-image: url(../images/contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.cHero:after {
  background: linear-gradient(to bottom, rgba(94, 107, 86, 0) 0%, rgb(94, 107, 86) 100%);
  height: 20%;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 525px;
  position: absolute;
}

.infoSec {
  background-color: #5e6b56;
  width: 100%;
  height: 1620px;
}

.nameText {
  margin-top: 800px;
  position: absolute;
  font-size: 30px;
  color: white;
  margin-left: 400px;
}

.firstName {
  margin-top: 850px;
  position: absolute;
  font-size: 25px;
  color: white;
  margin-left: 400px;
}

.lastName {
  margin-top: 850px;
  position: absolute;
  font-size: 25px;
  color: white;
  margin-left: 800px;
}

.oneBox {
  margin-top: 890px;
  position: absolute;
  font-size: 25px;
  color: white;
  height: 50px;
  margin-left: 400px;
  background-color: #bf8352;
  border: white;
  border-radius: 20%;
}

.twoBox {
  margin-top: 890px;
  position: absolute;
  font-size: 25px;
  color: white;
  margin-left: 800px;
  height: 50px;
  background-color: #bf8352;
  border: white;
  border-radius: 20%;
}

.email {
  margin-top: 990px;
  position: absolute;
  font-size: 25px;
  color: white;
  margin-left: 400px;
}

.emailBox {
  margin-top: 1030px;
  position: absolute;
  font-size: 25px;
  color: white;
  height: 50px;
  margin-left: 400px;
  width: 710px;
  background-color: #bf8352;
  border: white;
  border-radius: 20%;
}

.message {
  margin-top: 1130px;
  position: absolute;
  font-size: 25px;
  color: white;
  margin-left: 400px;
}

.mesBox {
  margin-top: 1170px;
  position: absolute;
  font-size: 25px;
  color: white;
  height: 300px;
  margin-left: 400px;
  width: 710px;
  background-color: #bf8352;
  border: white;
  border-radius: 20%;
}

.send {
  width: 160px;
  height: 70px;
  position: absolute;
  margin-top: 1520px;
  font-size: 30px;
  margin-left: 680px;
  border-radius: 20%;
  border: white;
}

.infoSec:after {
  background: linear-gradient(to bottom, rgba(15, 23, 2, 0) 0%, rgb(15, 23, 2) 100%);
  height: 20%;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 1530px;
  position: absolute;
}
