.foot {
  width: 100%;
  height: 80px;
  background-color: #0f1702;
  position: absolute;
  margin-top: 2112px;
}
.name {
  color: white;
  position: absolute;
  width: 60px;
  text-align: center;
  font-size: 25px;
  margin-left: 40px;
  margin-bottom: 200px;
}
.home2 {
  color: white;
  font-size: 20px;
  margin-left: 1310px;
}
.about2 {
  color: white;
  font-size: 20px;
  margin-left: 40px;
}
.products2 {
  color: white;
  font-size: 20px;
  margin-left: 1300px;
}
.contact2 {
  color: white;
  font-size: 20px;
  margin-left: 24px;
}
